          <table>
            <tr>
              <th>File</th>
              <td><a href="jasmine-webos-plugin-1.0.0.zip">jasmine-webos-plugin-1.0.0.zip</a></td>
            </tr>
            <tr>
              <th>Version</th>
              <td>1.0.0</td>
            </tr>
            <tr>
              <th>Size</th>
              <td>21kb</td>
            </tr>
            <tr>
              <th>Date</th>
              <td>2010/07/31 16:04:46 PDT</td>
            </tr>
            <tr>
              <th>SHA1</th>
              <td>fa6f787e9ce22dd46f3306c8b179a027d6369be6</td>
            </tr>
          </table>
