<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
  <div class="palm-header">
		  Jasmine webOS Test Harness
  </div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text jasmine-webos-info"></div>
<div class="palm-body-text">
  You've launched the Jasmine webOS test harness app for running all of its specs. There is either a low-level problem,
  jasmine.js was not included, or you have launched this app from the launcher instead of the command line.
</div>
<div class="palm-body-text">
  Check the logs for this app and/or ensure that you are launching the app from your command line via rake.
</div>

<img src="plugins/jasmine-webos/images/jasmine_logo.png" alt=""/>
