<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
  <!--[if IE]>
  <script type="text/javascript" src="js/html5.js"/>
  <![endif]-->
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>  
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="css/screen.css"/>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="css/pygments.css"/>
</head>
<body>
<div id="wrap" class="container_12">
  <header class="grid_12 alpha omega">
    {% if site.title %}
    <h1><a href="{{site.url}}">{{site.title}}</a></h1>
    {% endif %}
  </header>
  <div class="clear"></div>
  <section class="grid_8 alpha">
    {{ content }}
  </section>
  <section class="grid_4 omega">
    <h2>More Info</h2>
    <ul>
      <li>Discussion: <a href="http://groups.google.com/group/jasmine-webos">jasmine-webos@googlegroups.com</a></li>
      <li>Development Discussion: <a href="http://groups.google.com/group/jasmine-webos-dev">jasmine-webos-dev@googlegroups.com</a>
      </li>
      <li><a href="http://pivotaltracker.com/projects/16931">Project Backlog at Pivotal Tracker</a></li>
      <li>Build Status: coming soon</li>
    </ul>
    <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 10,
        interval: 6000,
        width: 250,
        height: 300,
        theme: {
          shell: {
            background: '#333333',
            color: '#ffffff'
          },
          tweets: {
            background: '#000000',
            color: '#ffffff',
            links: '#4aed05'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: true,
          behavior: 'all'
        }
      }).render().setUser('jasmine_webos').start();
    </script>
  </section>
  <div class="clear"></div>
  <footer>
    <div class="grid_12 alpha omega">
      <span class="small">Powered by &nbsp;
        <a href="http://pivotal.github.com/jasmine">
          <img src="img/jasmine_logo.png" alt="Jasmine: BDD for JavaScript"/>
        </a>
        &nbsp; &amp; &nbsp;
        <a href="http://pivotallabs.com/">
          <img src="img/pivotal_logo.gif" alt="Pivotal Labs, Inc."/>
        </a>
      </span>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("{{site.analytics_id}}");
      pageTracker._trackPageview();
    </script>
  </footer>
  <div class="clear"></div>
</div>
<!-- .container_12 -->
</body>
</html>
